body{
    background-color: #c8c3c3;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
}

a {
    color:#0008ff;
    text-decoration:underline;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 200px;
    height:200px;
}

div{
    display: inline-block;
}

main{
    display: flex;
    height: 300px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

nav{
    height:10;
    background: rgb(170, 170, 170);
}

nav a{
    text-decoration: none;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.current{
    text-transform:uppercase;
}