body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
  
header {
  background-color: #fdffd2;
}

/* original colors:
    green: deffb9
    blue: caffff
    purple: e9cfff */

nav {
  background-color: #fdffd2;
  display:inline-block;
  width:80%;
}

header img{
  width:10%;
  position: relative;
  top:20px;
}
  
main {
  background-color: #caffff;
  font-size: 17px;
}
  
footer {
  background-color: #e9cfff;
  font-size: 15px;
}
  
/*li {
  display: inline;
  width: 200px;
}*/
  
h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: #3d3846;
}
  
p {
  line-height: 1.5;
}

div{
  display: inline-block;
}

.grid{
  display:grid;
  grid-template-columns: 40% 40%;
  justify-content: space-evenly;
  align-items:center;
  row-gap: 20px;
}

.grid img{
  width:100%
}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}